*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}
/* header della pagina */
.container{
    height: 700px;
    
    display: flex;
    flex-direction: column;
    background: url("/img-3/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
main, footer{
    width: 70%;
    margin: auto;
    
}
.container > div{
    padding-top: 20px;
}
.blue, .green, .violet{
    width: 100%;
    height: 700px;
}
.blue >.block1{
    background-image: url("../img-3/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.block2{
    height: 70px;
                  
}
  

.block2 > span{
    font-size: 30px;
    color: white;
    padding: 0 20px;
    
    
}
.block3 >button{
    font-size:25px;
    padding: 5px;
    border-radius: 25px;
    
    
    
}
.block4 .titolo{
    font-size: 70px;
    color: white;
       
}
.block4 .parag{
    padding-top: 50px;
    
    font-size: 20px;
    color: white;

}

.blue{
    
    display: flex;
    justify-content: space-around;
    
            
}


.block1, .block3{
    height: 70px;
    width: 200px;
    
    
}
.block4{
    width: 60%;
    height: 200px;
    margin: auto;
    
    text-align: center;
}
.block5{
    text-align: center;
}
.block5 .bt-black{
    background-color: black;
    color: white;
}
.block5 > button{
    font-size: 25px;
    border-radius: 25px;
    padding: 10px;
}

/* informazioni */


.quadrato1, .quadrato2, .quadrato3, .container2{
    width: 100%;
    height: 700px;
    display: flex;
                
}
.quadrato2, .quadrato4{
    
    background-color: lightgray;
    
}
.quadrato4{
    
    height: 1000px;
    

}
 
.quadrato1, .quadrato2, .quadrato3 {
    margin-top: 50px;
    padding: 50px 0;
    

}
.titolo{
    font-size: 60px;
           
}
.parag{
    font-size: 30px;
    padding-top: 30px;
            
}
.quadrato4{
    text-align: center;
    
}
.stelle{
    width: 300px;
    height: 30px;
    margin: auto;
}

.quadrato4 .stelle{
    background-image: url("../img-3/stars.svg");
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.titolo-finale{
    font-size: 20px;
    
}
.quadrato4 > button{
    font-size:20px;
    padding: 10px;
    border-radius: 30px;
    margin: 30px;
    background-color:#7289DA ;
}


/* informazione secondarie footer */

.container2{
    background-color: #222628;
}
.container2 div{
flex-basis: calc(100% / 5); 
background-color: #222628;
}
.container2 div:first-child{
    flex-basis: 25%; 
       
}

.testo-blu, .testo-white{
    font-size: 20px;
    padding: 10px 0;
}
.testo-blu{
    color:#7289DB; ;
}
.testo-white{
    color: white;
}
.sec1, .sec2, .sec3, .sec4, .sec5{
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    
}

